<%- include("partials/header.ejs") %>
    
<a href="">
    <button></button>
</a>
<div class = "posts">
    <hr>
    <p><%= post.title %> </p>

    <p><%= post.author %> </p>
    <p> <%= post.date %>  </p>
    <hr>

    <p><%= post.content %> </p>
</div>

<%- include("partials/footer.ejs") %>